.idea/
01-javascript/node_modules
deberes/node_modules
deberes/package.json
03-angular/mi-proyecto/node_modules
examenes/primer_bimestre/node_modules
examenes/segundo_bimestre/01-backend/backend/node_modules
examenes/segundo_bimestre/02-frontend/frontend/node_modules